
html {
  --main-bg-color: #282828;
  --main-writing-color: #F5F5F5;
  --main-header-color: #4E008E;
  --main-footer-color: #4E008E;
  --main-highlight-color: #FFA03C;
}



body {
  font-size: 16px;
  background-color: #282828;
  color: #F5F5F5;
  font-family: 'Oxygen', sans-serif;
}



/** HEADER **/
#header-nav {
  background-color: #4E008E;
  border-bottom: 2px solid #F5F5F5;
}
#header-nav:after {
  border-bottom: 3px solid #FFA03C;
  width: 100%;
  position: absolute;
  bottom: -5px;
}

#logo-img {
  background: url('../images/greyoranlogo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 5px 10px 5px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #FFA03C;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #F5F5F5;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
.navbar {
  border: hidden;
}

#phone {
  margin-top: 15px;
}
#phone a { /* Phone number */
  color: #FFA03C;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 25px;
  font-size: 1.8em;
}
#phone a:hover { /* Phone number */
  background: #282828;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #4E008E
}
.navbar-default .navbar-toggle:hover {
  background-color: #282828
}
.navbar-default .navbar-toggle:focus {
  background-color: #282828
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #FFA03C;
  text-align: center;
}
#nav-list a:hover {
  background: #282828;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFA03C;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */



/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #4E008E;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #FFA03C;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}

#facebookicon {
  background: url('../images/square-facebook64-2.png') no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 5px 10px 5px 0;
}

#facebookicon:hover{
  background: url('../images/square-facebook64.png') no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 5px 10px 5px 0;
}

/* END FOOTER */



/* HOME PAGE */
.container .jumbotron {
  border: 2px solid #FFA03C;
  padding: 0px;
  margin-top: 30px;
}

.content {
  margin-top: 20px;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #FFA03C;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #F5F5F5;
}
#menu-tile {
  background: url('../images/IMG_7438.JPG') no-repeat;
  background-position: center;
  background-size:100%;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
/* END HOME PAGE */

/* ABOUT */

/* END ABOUT */

/* Classes Events */

.classes {
  border-collapse: collapse;
  width: 300px;
  font-size:1.25em;
}

.classes td {
  height: 10px;
  padding: 5px;
  vertical-align: top;
}

#testingfee {
  border-collapse: collapse;
  width: 300px;
  font-size:1em;
}

.expect h3 {
  text-decoration: underline;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
}

.expect h4 {
  text-decoration: underline;
  margin-top: 15px;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
}

.expect p {
  margin-left: 25px;
}

.expecth2 {
  margin-top: 35px;
}

/* END Classes Events */

/* Contact */

.contactaddress {
  margin-top: 30px;
  margin-left: 20px;
}

.contactaddress p {
  margin-left: 20px;
}

#contactemail textarea {
  margin-top: 15px;
  resize: none;
  overflow: auto;
  width: 100%;
  border: 2px solid #FFA03C;
  padding: 5px;
  color: #282828;
  outline: none;
}

#contactemail button {
  width: 100%;
  background-color:#4E008E;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border:2px solid #FFA03C;
  cursor:pointer;
  color:#F5F5F5;
  font-size:18px;
  padding:10px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #222;
  outline: none;
  margin-top: 10px;
  margin-bottom: 25px
}
#contactemail button:hover {
  background-color:#282828;
}
#contactemail button:active {
  position:relative;
  top:1px;
}

#contactfacebook iframe {
  margin-top: 10px;
  overflow: hidden;
  border: 2px solid #FFA03C;
  max-width: 500px;
}




/* END Contact */




/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand {
    padding-bottom: 105px;
  }
}

/********** Small devices only *********
@media (min-width: 768px) and (max-width: 991px) {

}*/

/********** Extra small devices only **********/
@media (max-width: 991px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #FFA03C;
    background-color: #4E008E;
    color: #FFA03C;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */



  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
    border-color: #282828;
  }

  .panel-footer {
    border-top: 2px solid #F5F5F5;
  }
  .panel-footer:before {
    border-top: 3px solid #FFA03C;
    width: 100%;
    position: absolute;
    top: -5px;
  }
  /* End Footer */




  
}


